*, *::before, *::after{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
#container{
    background: url('../img/Main/header.png') no-repeat center;
    background-size: 100%;
    position: fixed;
    width: 100%;
    padding: 0;
    height: auto;
    transition: linear 0.5s;
    z-index: 5;
}
.header{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: row dense;
    padding: 0 20px;
    padding-bottom: 10px;
    /* border-bottom: 1px ridge #04182A; */
}
[class^="header-"]{
    padding: 10px 5px 0 5px;
}

[class^="btn-"]{
    display: flex;
    padding: 5px;
}

[class^="btn-"]:hover{
    cursor: pointer;
}

[class^="button-"]{
    padding: 0 5px;
}

.header-left{
    display: flex;
    align-items: center;
}

.header-right{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header-middle{
    text-align: center;
}
.dropdown{
    position:absolute;
    top:3.6rem;
    right: 0;
    background-color: white;
    width: 10%;
    display: none;
    box-shadow:0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 1;
    transition: linear 0.2s;
}
.triangle{
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid white;
    position: absolute;
    top: -0.6rem;
    right: 3rem;
    z-index: 2;
}
.dropdown .fas{
    margin-right: 5px;
}
.dropdown li{
    padding: 12px;
    transition: linear 0.2s;
}
.dropdown li:hover{
    background-color: lightgray;
    cursor: pointer;
    padding-left: 15px;
}

li{
    padding: 5px;
    list-style-type: none;
}
.bars{
    display: none;
    padding: 5px;
}

.menu{
    display: flex;
}

.menu li{
    transition: linear 2s;
}

.menu-2{
    display: none;
    padding: 0;
    margin: 0;
    border-top: 1px solid black;
    width: 100%;
}

.menu li:hover{
    border-bottom: 1px solid black;
    cursor: pointer;
}

.active{
    display: block;
}

#title{
    display: flex;
    padding: 80px 0 100px 0;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items:center;
}

.title-text{
    font-size:80px;
    padding-bottom: 20px;
}

.title-text span{
    font-size: 160px;
    color: #F3D27D;
    text-shadow: 2px 2px 4px #4A1C00;
}

.title-box{
    display: flex;
    font-size: 20px;
    justify-content: center;
    width: 78%;
    text-align: left;
    margin-left: 5em;
}
.title-content p{
    margin-top: 2rem;
    font-weight: bold;
    width: 70%;
}

.title-box img{
    width: 65%;
}
.btn{
    background-color: #F3D27D;
    border: 1px solid black;
    text-transform: uppercase;
    padding: 15px 30px;
    margin: 30px 0;
    font-size: 15px;
}
.btn-box{
    display: flex;
    justify-content: center;
    width: 100%;
}
.btn:nth-child(1){
    margin: 0;
}

.btn:hover{
    background-image: linear-gradient(to right, violet, cyan);
    cursor: pointer;
    animation: moveButton linear 1s infinite;
}

@keyframes moveButton{
    0%{
        padding-right: 30px;
    }
    50%{
        padding-right: 50px;
    }
    100%{
        padding-right: 30px;
    }
}
.title-content{
    margin-top: 2rem;
}

/* Clothes */
#clothes,
#deco,
#other {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}
section{
    /* border: 1px solid black; */
    margin: 20px 10px;
    padding: 0;
    position: relative;
    transition: linear 0.2s;
}
.content-2, .content-3{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    margin: 5rem 0;
    position: relative;
}
.content-2 .pic-behind img{
    width: 75%;
}

.content-2 .pic-behind{
    z-index: -1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-2 .pic-behind img:nth-child(1){
    position: relative;
    left: 8rem;
    top: 55rem;
}
.content-2 .pic-behind img:nth-child(2){
    position: relative;
    left: -10rem;
    top: 0;
}
.content-2 .pic-behind img:nth-child(3){
    position: relative;
    left: 8rem;
    bottom: 55rem;
}

#deco{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content:center;
    width: 50%;
}
#deco section{
    margin: 25px;
}
#other{
    width: 75%;
}
section:hover{
    cursor: pointer;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2), 0 6px 4px 0 rgba(0, 0, 0, 0.19);
}

.content-title {
    font-size: 23px;
    font-weight: bold;
    text-align: center;
}

.content-pic {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* margin: 20px; */
}

.content-pic img {
    width:100%;
    height: 400px;
    /* object-fit: fill; */
}

.content-pic .special {
    color: #FF47C1;
    transform: rotate(-90deg);
    font-size: 25px;
    text-transform: uppercase;
    position: absolute;
    left: -0.2rem;
    z-index: 3;
}

.content-pic .price {
    color: #FF47C1;
    font-size: 15px;
    align-self: flex-end;
    margin-bottom: 5px;
    position: absolute;
    right: 0.5rem;
}
.deco-price{
    font-size: 15px;
    align-self: flex-end;
    margin-bottom: 5px;
    position: absolute;
    right: 0.5rem;
    padding: 2px;
    border: 1px solid black;
    background-color: lightgray;
}
.content-description {
    color: gray;
}

.content-text {
    text-align: center;
    margin: 10px;
}

.content-name {
    font-size: 20px;
    font-weight: bold;
    word-wrap: break-word;
}

/* Footer */
.footer-1 img{
    width: 100%;
}

.footer-1{
    position: relative;
}
.footer-1-content{
    background-color: #F3D27D;
    position: absolute;
    top:7rem;
    right: 26rem;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.footer-1-content .footer-title{
    font-size: 23px;
}

.footer-1-content span{
    color: #8F1933;
}
.footer-title {
    font-weight: bold;
}
.footer-1-content p{
    font-size: 14px;
    margin: 5px;
}

.footer-1-content input{
    border: 0;
    border-bottom: 1px solid black;
    background-color: transparent;
    padding: 5px;
}

.footer-2{
    background-color:#005E87;
    display: flex;
    justify-content: space-around;
    margin-top: -5px;
    padding: 5rem 0;
}

.footer-content-title{
    color: white;
}
.footer-content ul li{
    padding: 5px 0;
    color: white;
    opacity: 0.3;
    transition: linear 0.2s;
}
.footer-content:last-child ul{
    display: flex;
    flex-direction: row;
}

.footer-content:last-child ul li{
    padding: 5px 5px 5px 0;
}

.footer-content ul li:hover{
    opacity: 1;
    cursor: pointer;
}

.top-link-btn {
    font-size: 1.25rem;
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    background: hsla(182, 63%, 54%);
    width: 2rem;
    height: 2rem;
    display: grid;
    place-items: center;
    border-radius: 0.5rem;
    color: white;
    animation: bounce 2s ease-in-out infinite;
    text-decoration: none;
    visibility: hidden;
    z-index: -100;
}
.show-link-btn {
    visibility: visible;
    z-index: 100;
}
@keyframes bounce {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1);
    }
}
