*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

#container {
    background: url('../img/Main/header.png') no-repeat center;
    background-size: 100%;
    position: fixed;
    width: 100%;
    padding: 0;
    height: auto;
    transition: linear 0.5s;
    z-index: 5;
}

.header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: row dense;
    padding: 0 20px;
    padding-bottom: 10px;
    /* border-bottom: 1px ridge #04182A; */
}

[class^="header-"] {
    padding: 10px 5px 0 5px;
}

[class^="btn-"] {
    display: flex;
    padding: 5px;
}

[class^="btn-"]:hover {
    cursor: pointer;
}

[class^="button-"] {
    padding: 0 5px;
}

.header-left {
    display: flex;
    align-items: center;
}

.header-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header-middle {
    text-align: center;
}

.dropdown {
    position: absolute;
    top: 3.6rem;
    right: 0;
    background-color: white;
    width: 10%;
    display: none;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 1;
    transition: linear 0.2s;
}

.triangle {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid white;
    position: absolute;
    top: -0.6rem;
    right: 3rem;
    z-index: 2;
}

.dropdown .fas {
    margin-right: 5px;
}

.dropdown li {
    padding: 12px;
    transition: linear 0.2s;
}

.dropdown li:hover {
    background-color: lightgray;
    cursor: pointer;
    padding-left: 15px;
}

li {
    padding: 5px;
    list-style-type: none;
}

.bars {
    display: none;
    padding: 5px;
}

.menu {
    display: flex;
}

.menu li {
    transition: linear 2s;
}

.menu li:hover {
    border-bottom: 1px solid black;
    cursor: pointer;
}

#main {
    padding: 6.5rem 0 4rem 0;
    display : flex;
    background-color: lightgray;
    justify-content: space-evenly;
}

.side-bar{
    display:block;
}
.close{
    display:none;
}
.content{
    width: 80%;
    background-color: white;
    padding: 20px;
    position: relative;
    border-radius: 20px;
    font-size: 20px;
}
/* Left side section */
/* Profile */
.profile-container{
    display: block;
}
.picture-section{
    display: block;
}
.picture-section > img{
    width: 100%;
    height: 150px;
    border-radius: 20px;
}

.user{
    display: flex;
    /* border: 1px solid black; */
    width: auto;
    position: relative;
    bottom: 70px;
    left:25px;
}
.user .pic{
    width: 15%;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: -50px;
}
.side-btn {
    display: flex;
    justify-content: space-around;
}
.side-btn a{
    color: rgba(20, 183, 224, 0.9);
    font-size: 15px;
}
.user img{
    width: 100%;
    border-radius: 20px;
}
.username{
    position: relative;
    top: 80px;
    font-size: 30px;
    margin-left: 5px;
}

.username .email{
    color: black;
    opacity: 0.3;
    font-size: 25px;
}

.info{
    border-bottom: 1px solid lightgray;
    padding: 10px;
    display: flex;
    margin: 10px 18px;
}
.info-text input{
    font-size: 18px;
    padding: 0 5px;
}
.info-text p{
    font-size: 20px;
}
.info-title{
    width: 200px;
    margin-right: 50px;
    color: gray;
}
.info-content{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}
.btn a{
    color: rgba(20, 183, 224, 0.9);
    font-size: 15px;
    border-bottom: 1px solid rgba(20, 183, 224, 0.9);
    padding: 0;
}

.side-btn a,.btn a:hover{
    cursor: pointer;
}

/* Side Bar */
.side-bar{
    background-color: white;
    height: 50%;
    padding: 25px;
    border-radius: 30px;
    opacity: 0.65;
}

[class^="title-"]{
    display: flex;
    justify-content: space-between;
}

li,[class^="title-"]:hover{
    cursor: pointer;
}

.side-bar li{
    margin: 10px;
}

[class^="title-"] p{
    font-size: 20px;
}

.arrow .fa-caret-down{
    display: none;
}

.logout-section{
    color: orangered;
    font-size: 20px;
}

.logout-section i:hover{
    cursor: pointer;
}

/* Setting */
.setting-container{
    display: none;
}

.setting-container h2{
    border-bottom: 1px solid lightgray;
    padding: 10px 0;
    text-transform: uppercase;
    text-align: center;
}

.delete-section{
    border-bottom: 1px solid lightgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.delete-name{
    padding: 20px 0;
}

.delete-name p{
    text-transform: uppercase;
    color: #CF222E;
    padding: 5px 0;
}

.delete-name span{
    color: black;
    opacity: 0.5;
    font-size: 15px;
}

.delete-btn button{
    padding: 8px;
    border-radius: 5px;
    color: #CF222E;
    background-color: #F6F8FA;
    border: 1px solid black;
    font-size: 15px;
}

.delete-btn button:hover{
    background-color: #CF222E;
    color: #F6F8FA;
    cursor: pointer;
}
/* History */
.history-container{
    display: none;
}
h2 {
    padding: 10px 0;
    text-transform: uppercase;
    text-align: center;
}
table{
    width: 100%;
}
tr,th,td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    text-align: center;
}

/* Admin */
.admin-container{
    display: none;
}

td img{
    width: 30%;
}
td button{
    padding: 5px;
}
td button:hover{
    cursor: pointer;
}
/* Footer */
.footer-1 img {
    width: 100%;
}

.footer-1 {
    position: relative;
}
.footer-1-content {
    background-color: #F3D27D;
    position: absolute;
    top: 7rem;
    right: 26rem;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.footer-1-content .footer-title {
    font-size: 23px;
}

.footer-1-content span {
    color: #8F1933;
}

.footer-title {
    font-weight: bold;
}

.footer-1-content p {
    font-size: 14px;
    margin: 5px;
}

.footer-1-content input {
    border: 0;
    border-bottom: 1px solid black;
    background-color: transparent;
    padding: 5px;
}

.footer-2 {
    background-color: #005E87;
    display: flex;
    justify-content: space-around;
    margin-top: -5px;
    padding: 5rem 0;
}

.footer-content-title {
    color: white;
}

.footer-content ul li {
    padding: 5px 0;
    color: white;
    opacity: 0.3;
    transition: linear 0.2s;
}

.footer-content:last-child ul {
    display: flex;
    flex-direction: row;
}

.footer-content:last-child ul li {
    padding: 5px 5px 5px 0;
}

.footer-content ul li:hover {
    opacity: 1;
    cursor: pointer;
}

.top-link-btn {
    font-size: 1.25rem;
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    background: hsla(182, 63%, 54%);
    width: 2rem;
    height: 2rem;
    display: grid;
    place-items: center;
    border-radius: 0.5rem;
    color: white;
    animation: bounce 2s ease-in-out infinite;
    text-decoration: none;
    visibility: hidden;
    z-index: -100;
}

.show-link-btn {
    visibility: visible;
    z-index: 100;
}

@keyframes bounce {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1);
    }
}